body {
    background-color: #EAF6F6;
}

hr {
    border-style: none;
    border-top-style: dotted;
    border-color: #9AE66E;
    border-width: 5px;
    width: 5%;
}

h1 {
    color: #6166B3;
}

h3 {
    color: #6166B3;
}
